name: python-app
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5
      - name: setup docker buildx
        uses: docker/setup-buildx-action@v3
      - name: login to docker
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: docker build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
             ${{ secrets.DOCKERHUB_USERNAME }}/github-actions:${{ github.sha }}
      - name: run trivy scanner in fs mode
        uses: aquasecurity/trivy-action@0.28.0
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/github-actions:${{ github.sha }}